parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\Navigation\\:\\:\\$items\\.$#"
			count: 1
			path: src/FilamentCms.php

		-
			message: "#^Access to constant Amber on an unknown class Filament\\\\Support\\\\Color\\.$#"
			count: 2
			path: src/FilamentCmsTheme.php

		-
			message: "#^Access to constant Gray on an unknown class Filament\\\\Support\\\\Color\\.$#"
			count: 2
			path: src/FilamentCmsTheme.php

		-
			message: "#^Access to constant Green on an unknown class Filament\\\\Support\\\\Color\\.$#"
			count: 1
			path: src/FilamentCmsTheme.php

		-
			message: "#^Access to constant Rose on an unknown class Filament\\\\Support\\\\Color\\.$#"
			count: 1
			path: src/FilamentCmsTheme.php

		-
			message: "#^Call to an undefined method Filament\\\\Panel\\:\\:primaryColor\\(\\)\\.$#"
			count: 1
			path: src/FilamentCmsTheme.php

		-
			message: "#^Class App\\\\Models\\\\User not found\\.$#"
			count: 2
			path: src/Models/Gallery.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\GalleryImage\\:\\:\\$image_name\\.$#"
			count: 1
			path: src/Models/GalleryImage.php

		-
			message: "#^Class App\\\\Models\\\\User not found\\.$#"
			count: 2
			path: src/Models/GalleryImage.php

		-
			message: "#^Class App\\\\Models\\\\User not found\\.$#"
			count: 2
			path: src/Models/Navigation.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\:\\:\\$gallery\\.$#"
			count: 1
			path: src/Models/NavigationItem.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\:\\:\\$name\\.$#"
			count: 1
			path: src/Models/NavigationItem.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\:\\:\\$page\\.$#"
			count: 1
			path: src/Models/NavigationItem.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\:\\:\\$type\\.$#"
			count: 2
			path: src/Models/NavigationItem.php

		-
			message: "#^Class App\\\\Models\\\\User not found\\.$#"
			count: 2
			path: src/Models/NavigationItem.php

		-
			message: "#^Class App\\\\Models\\\\User not found\\.$#"
			count: 2
			path: src/Models/Page.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\GalleryImage\\:\\:\\$created_by\\.$#"
			count: 1
			path: src/Repositories/GalleryRepository.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\GalleryImage\\:\\:\\$gallery_id\\.$#"
			count: 1
			path: src/Repositories/GalleryRepository.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\GalleryImage\\:\\:\\$image_name\\.$#"
			count: 1
			path: src/Repositories/GalleryRepository.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\GalleryImage\\:\\:\\$updated_by\\.$#"
			count: 1
			path: src/Repositories/GalleryRepository.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\>\\|zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\:\\:\\$created_by\\.$#"
			count: 1
			path: src/Repositories/NavigationItemRepository.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\>\\|zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\:\\:\\$level\\.$#"
			count: 1
			path: src/Repositories/NavigationItemRepository.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\>\\|zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\:\\:\\$name\\.$#"
			count: 1
			path: src/Repositories/NavigationItemRepository.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\>\\|zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\:\\:\\$navigation_id\\.$#"
			count: 1
			path: src/Repositories/NavigationItemRepository.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\>\\|zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\:\\:\\$parent_id\\.$#"
			count: 1
			path: src/Repositories/NavigationItemRepository.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\>\\|zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\:\\:\\$slug\\.$#"
			count: 1
			path: src/Repositories/NavigationItemRepository.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\>\\|zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\:\\:\\$type\\.$#"
			count: 1
			path: src/Repositories/NavigationItemRepository.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\>\\|zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\:\\:\\$type_id\\.$#"
			count: 1
			path: src/Repositories/NavigationItemRepository.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\>\\|zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\:\\:\\$updated_by\\.$#"
			count: 1
			path: src/Repositories/NavigationItemRepository.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\:\\:\\$childItems\\.$#"
			count: 1
			path: src/Repositories/NavigationItemRepository.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\:\\:\\$navigation_id\\.$#"
			count: 1
			path: src/Repositories/NavigationItemRepository.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\:\\:\\$slug\\.$#"
			count: 1
			path: src/Repositories/NavigationItemRepository.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\Gallery\\:\\:\\$created_at\\.$#"
			count: 1
			path: src/Resources/GalleryResource.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\Gallery\\:\\:\\$updated_at\\.$#"
			count: 1
			path: src/Resources/GalleryResource.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\GalleryImage\\:\\:\\$created_at\\.$#"
			count: 1
			path: src/Resources/GalleryResource/RelationManagers/ImagesRelationManager.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\GalleryImage\\:\\:\\$image_name\\.$#"
			count: 1
			path: src/Resources/GalleryResource/RelationManagers/ImagesRelationManager.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\GalleryImage\\:\\:\\$updated_at\\.$#"
			count: 1
			path: src/Resources/GalleryResource/RelationManagers/ImagesRelationManager.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\Navigation\\:\\:\\$created_at\\.$#"
			count: 1
			path: src/Resources/NavigationResource.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\Navigation\\:\\:\\$updated_at\\.$#"
			count: 1
			path: src/Resources/NavigationResource.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\:\\:\\$created_at\\.$#"
			count: 1
			path: src/Resources/NavigationResource/RelationManagers/ItemsRelationManager.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\NavigationItem\\:\\:\\$updated_at\\.$#"
			count: 1
			path: src/Resources/NavigationResource/RelationManagers/ItemsRelationManager.php

		-
			message: "#^Static method zaheensayyed\\\\FilamentCms\\\\Resources\\\\NavigationResource\\\\RelationManagers\\\\ItemsRelationManager\\:\\:createdBy\\(\\) is unused\\.$#"
			count: 1
			path: src/Resources/NavigationResource/RelationManagers/ItemsRelationManager.php

		-
			message: "#^Static method zaheensayyed\\\\FilamentCms\\\\Resources\\\\NavigationResource\\\\RelationManagers\\\\ItemsRelationManager\\:\\:updatedBy\\(\\) is unused\\.$#"
			count: 1
			path: src/Resources/NavigationResource/RelationManagers/ItemsRelationManager.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\Page\\:\\:\\$created_at\\.$#"
			count: 1
			path: src/Resources/PageResource.php

		-
			message: "#^Access to an undefined property zaheensayyed\\\\FilamentCms\\\\Models\\\\Page\\:\\:\\$updated_at\\.$#"
			count: 1
			path: src/Resources/PageResource.php
